body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:100%;
  position:absolute;
}
.wander{
  -webkit-animation-name:bounce,slide;
  -webkit-animation-duration: 0.5s,5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;  
}
.bounce{
  border-color: gold;
  border-width: 15px;
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;  
}
.slide{
  border-color: lime;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}
/*Animation Keyframe Definitions*/
@-webkit-keyframes slide{
  from{
    left: 0%;
  }
  to{
    left: calc(100% - 20px);
  }
}
@-webkit-keyframes bounce{
  from{
    top: 35px;
  }
  to{
    top: calc(100% - 15px);
  }
}